<div id="carouselBlk">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <img style="width:100%" src="themes/images/carousel/2.png" alt="special offers"/>
        </div>
      </div>
    </div>
  </div>
</div>
