<div class="span12" id="mainCol">
  <ul class="breadcrumb">
    <li>
    <li><%= link_to "Home", root_path %>
      <span class="divider">/</span></li>
    <li class="active">Contac Us</li>
  </ul>
  <h1>Contact Us</h1>
  <hr class="soft"/>
  <h5>Address</h5>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam elementum varius dapibus. Sed hendrerit porta felis at sollicitudin. <br/>
    Sed at nunc ac neque semper fermentum. Proin diam sem, semper fermentum eleifend nec, viverra ac est. Sed ultricies, lectus et vehicula imperdiet
  </p>
  <hr>
  <h5>Location</h5>
  <p>
   Bangalore, India
  </p>
</div>