<div class="span12" style="min-height:350px">
  <ul class="breadcrumb">
    <li>
    <li><%= link_to "Home", root_path %>
      <span class="divider">/</span></li>
    <li class="active">Settings</li>
  </ul>
  <hr class="soft"/>

  <% if user_signed_in? %>
    <div class="row">
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <th></th>
        </thead>
        <tr>
          <td>
            <% unless current_user && current_user.admin %>
              <div class="span6">
                <div>
                  <div >
                    <h5>Manage Addresses</h5>
                    <p class="card-text">Manage your shiping address details</p>
                    <%= link_to "Go", addresses_path, class:"btn btn-primary" %>
                  </div>
                </div>
              </div>
            <% end %>
          </td>
          <td>
            <div class="span6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Manage account</h5>
                  <p class="card-text">Click Below button to edit your account details or change password</p>
                  <%= link_to 'Go', edit_user_registration_path, :class => 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  <% end %>
</div>
