<div style="text-align: center">
<% if notice %>
  <strong class="alert alert-success"><%= notice %></strong>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
</div>