<div class="span12">
  <ul class="breadcrumb">
    <li><%= link_to "Home", root_path %>
      <span class="divider">/</span></li>
    <li><%= link_to "List Products", list_products_path %>
      <span class="divider">/</span></li>
    <li class="active">Edit Product Details</li>
  </ul>
  <div class="well">
    <h4>Edit Product</h4>
    <%= render "form" %>    
  </div>
</div>