<div class="span12" id="mainCol">
  <ul class="breadcrumb">
    <li>
    <li><%= link_to "Home", root_path %>
      <span class="divider">/</span></li>
  <li class="active">Products</li>
</ul>
<h1>Products</h1>
<hr class="soft"/>

<%= render "products/user_view" %>