<div class="pull-right">
<%=  %>
  <%= link_to cart_path do %>
  <span class="btn btn-mini btn-primary">
    <i class="icon-shopping-cart icon-white"></i>
    [ <%= count_active_line_items(current_user.id) %> ] Itemes in your cart
  </span>
  <% end %>
</div>
