<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %>
        <span class="divider">/</span></li>
      <li class="active">Cart Items</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span12">
  Product Added successfully
  <hr class="soft"/>
  <%= link_to "Show Cart Items", cart_path, class:'label label-success' %>
 
  </div>
</div>