<div class="row">
  <div class="span12">
    <ul class="breadcrumb">
      <li><%= link_to "Home", root_path %>
        <span class="divider">/</span></li>
      <li class="active">Cart Items</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span12">
  <% unless @cart_items.empty? %>
  <%= render "cart_items" %>
  <% else %>
  <div class="alert alert-info" role="alert"> Your cart is empty
  </div>
  <% end %>
  </div>
</div>